 
  <div >
   
    <p style="text-align: center;font-style: italic;font-size: 60px;">{{title}}</p>
    <p class="hora_fondo" style="text-align: center;">Today is  {{curretDate | date : 'dd-MMMM-yyyy | HH:mm:ss'}}</p>
 
  </div>

  <div  style="display:flex;justify-content:center; align-items:center;margin-top: 6%;margin-bottom: 6%;"> 

   <img style="height: 30%;width: 30%;margin:3px;" src="/assets/images/home.jpg" class="zoom" >  
   
   <img style="height: 30%;width: 30%;margin:3px" src="/assets/images/home1.jpg" class="zoom">
   
   <img style="height: 30%;width: 30%;margin:3px" src="/assets/images/home2.jpg" class="zoom">

   </div>
  
  
  
    


